body{
    font-size: 1.8rem;
    background-image: url(img/shiro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}
* {
  font-family: 'Noto Serif JP', serif;
}
.navbar .nav-link{
    color: #fff !important;
    font-size: 20px;
    font-weight: 700;
    margin: 0 50px; 
}

.navbar-nav .nav-link {
  transition: color 0.4s ease, transform 0.4s ease; /* 色と拡大を同時にゆっくり */
}

.navbar-nav .nav-link:hover {
  transform: scale(1.1); /* 少し拡大 */
}

html {
  scroll-behavior: smooth;
}

.hero{
    padding-top: 80%;
    background-image: url(img/unaju.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}

.hero::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(75, 75, 80, 0.7);
    z-index: -1;
}

section{
    padding-top: 120px;
    padding-bottom: 120px;
}

.about{
    position: relative;
}

#about h1 {
  background-color: #532606;     /* 濃い茶色 */
  color: #ffffff;                /* 白文字 */
  font-size: 2.5rem;             /* 大きく */
  font-weight: bold;
  padding: 1rem 2rem;
  display: inline-block;
  margin: 1.5rem 0;
}

/* メイン見出し */
#menu h1,
#access h1 {
  text-align: center;
  font-size: 3.2rem;
  font-weight: 800;
  color: #3b1f0e;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
}


/* 各メニューセクションの小見出し */
.section-title {
  border-bottom: 2px solid #8B4513;
  padding-bottom: 0.5rem;
  display: inline-block;
  margin-bottom: 1.5rem;
  color: #5c3a1e;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}


.img-cover {
  object-fit: cover;
  height: 100%;
  width: 100%;
  display: block;
}

.row.align-items-stretch {
  min-height: 400px;
}

.access{
  position: relative;
}


